
.container__home {
    max-width: 1440px;
    width: 100%;
    height: 100hv;
    padding-top: 1rem;
    background-color: #151e33;
}

.title__cartelera {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 30px;
}
.container_iconYoutube{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--Violet);
    margin-bottom: 50px;
}
.logo{
    width: 100px;
}
.title_youtube{
    width: 70%;
    font-size: 30px;
    letter-spacing: 3px;
}
.swiper {
    width: 1100px;
    height: 100%;
    
}

.swiper-slide {
  
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
   
    width: 100%;
    height: 500px;
}

.nabvar__card>img {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1100px;

}

.nabvar__card .imagen__serie {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;

}

.nabvar__card>h1 {
    position: absolute;
    top: 420px;
    left: 30px;
    background-color: var(--Black);
    font-size: 2rem;
    border-radius: 8px;
    padding: 1rem;
    font-weight: 600;
    color: var(--Red);
}
.title_series_Card{
    position: absolute;
        top: 350px;
        left: 120px;
        font-size: 2rem;
        border-radius: 0px 10px 10px 0px;
        padding: 1rem;
        font-weight: 600;
        color: red;
}

.skeleton-container {
    border: 1px solid red;
    width: 300px;
    /* Puedes ajustar a tu necesidad */
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

/* Estilos para móviles */
@media (max-width: 600px) {
    .nabvar__card>h1 {
        font-size: 20px;
        top: 140px;
        left: 150px;
    }
    .title_series_Card{
        font-size: 20px;
            top: 140px;
            left: 150px;
    }
        .swiper {
            width: 370px;
            height: 100%;
    
        }

    .swiper-slide {
        flex: grid;
        grid-template-columns: 1fr;
        /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
    }

    .swiper-slide img {
        width: 370px;
        height: 100%;
        padding-left: 0px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
        .nabvar__card>h1 {
            left: 5px;
            top: 160px;
            font-size: 14px;
        }
        .logo{
            width: 50px;
        }
        .title_youtube{
            font-size: 18px;
        }
}